body {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
    gap: 50px;
}
#logo {
    height: 100px;
    width: auto;
}
#nav-wrapper {
    display: flex;
    height: 100%;
}
.nav-btn {
    width: 80%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}
.nav-btn:hover {
    border: solid 1px #A0874F;
    border-radius: 15px;
    background-color: rgba(160, 135, 79, 0.3);
}
button {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
}
.nav-btn {
    color: white;
}
#content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#content p, h1, h2, h3 {
    color: white;
}
#restaurant-img {
    width: 100%;
    height: auto;
    position: relative;
    opacity: 0.4;
}
#image-wrapper {
    position: relative;
    display: inline-block;
}
#content h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}

